<footer class="site-footer">
  <span class="site-footer-owner">阿里云年中产品优惠<a target="_black" href="https://www.aliyun.com/minisite/goods?userCode=mh5xr0za">点击领取</a></span>
  <span class="site-footer-credits">
    <a href="https://www.aliyun.com/activity/daily/cloud?spm=5176.13735996.J_7116760870.1.56943b5aeO6xq6&userCode=mh5xr0za">云服务器低价购买</a>
    <a href="https://promotion.aliyun.com/ntms/act/campus2018.html?spm=5176.13735996.J_7116760870.3.56943b5aeO6xq6&userCode=mh5xr0za">学生优惠</a>
  </span>
</footer>
