<footer class="site-footer">
  <span class="site-footer-owner">阿里云2020年中服务器促销<a target="_black" href="https://www.aliyun.com/minisite/goods?userCode=mh5xr0za">点击领取</a></span>
  <span class="site-footer-credits">
    <a target="_black" href="https://www.aliyun.com/activity/daily/cloud?spm=5176.13735996.J_7116760870.1.56943b5aeO6xq6&userCode=mh5xr0za">云服务器91.8元/年起</a>&nbsp;&nbsp;&nbsp;
    <a target="_black" href="https://promotion.aliyun.com/ntms/act/campus2018.html?spm=5176.13735996.J_7116760870.3.56943b5aeO6xq6&userCode=mh5xr0za">学生特惠服务器仅需9.5元</a>
  </span>
</footer>
