<section class="page-header">
  <h1 class="project-name">  <a href="{{ site.author.url }}" style="color: white;cursor: pointer;">{{ site.title }}</a></h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a target="_black" href="https://www.cnblogs.com/somewhereu" class="btn">博客园cnblogs</a>
  <a target="_black" href="https://github.com/somewhereu" class="btn">GitHub</a>
  <a target="_black" href="https://blog.csdn.net/baidu_24248003" class="btn">CSDN</a>
  <a target="_black" href="https://gitee.com/somewhereu" class="btn">Gitee</a>
  
</section>